    window-rule {
        geometry-corner-radius 10 // Set every window radius to 20
        clip-to-geometry true
        default-column-width { proportion 0.90; }
    }

      //if you use steam you will probably like these
    window-rule {
        match app-id="steam"
        exclude title=r#"^[Ss]team$"#
        open-floating false
        open-focused false
    }

    window-rule {
       match app-id="steam" title=r#"^notificationtoasts_\d+_desktop$"#
       default-floating-position x=10 y=10 relative-to="bottom-right"
       open-floating false
       open-focused false
    }


    window-rule {
        match app-id="Alacritty"
        open-maximized false
        default-column-width { proportion 0.75; }
    }


    window-rule {
        match app-id="Zed"
        open-maximized false
    }

    layer-rule {
        match namespace="^noctalia-wallpaper*"
        place-within-backdrop true
    }
